/*
.App-wrapper {
    display: grid;
    grid-template-areas:
'header header'
'sidebar content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: cadetblue;
}

.sidebar {
    grid-area: sidebar;
    background-color: cadetblue;
}

.content {
    grid-area: content;
    background-color: bisque;
}*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
img {
    max-width: 100%;
    display: block;
}